swagger: "2.0"
info:
  description: "This is a pack-and-go bus company Swagger API to manage the trips that PackAndGo offers"
  version: "1.0.0"
  title: "PackAndGo Application"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@packandgo.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "packandgo.com"
basePath: "/v1"
tags:
- name: "packandgo"
  description: "Manage your trips"
  externalDocs:
    description: "Find out more"
    url: "http://packandgo.com"
schemes:
- "http"
paths:
  /trip:
    get:
      tags:
      - "trip"
      summary: "Get all trips from PackAndGo"
      description: "Returns all the trips from PackAndGo"
      operationId: "getAllTrips"
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Trips"
        "404":
          description: "No trips found"
          schema: 
            $ref: "#/definitions/ApiResponse"
    post:
      tags:
      - "trip"
      summary: "Add a new trip to the packandgo"
      description: ""
      operationId: "addNewTrip"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Trip object that needs to be added to the packandgo"
        required: true
        schema:
          $ref: "#/definitions/AddTrip"
      responses:
        "201":
          description: "Successfully created the trip"
          schema: 
            $ref: "#/definitions/ApiResponse"
        "400":
          description: "Bad Request"
          schema: 
            $ref: "#/definitions/ApiResponse"
        "405":
          description: "Invalid input"
          schema: 
            $ref: "#/definitions/ApiResponse"
  /trip/{tripId}:
    get:
      tags:
      - "trip"
      summary: "Find trip by ID"
      description: "Returns a single trip"
      operationId: "getTripById"
      produces:
      - "application/json"
      parameters:
      - name: "tripId"
        in: "path"
        description: "ID of trip to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Trip"
        "400":
          description: "Invalid ID supplied"
          schema: 
            $ref: "#/definitions/ApiResponse"
        "404":
          description: "Trip not found"
          schema: 
            $ref: "#/definitions/ApiResponse"
definitions:
  Trips:
    type: array
    items:
        $ref: '#/definitions/Trip'
  Trip:
    type: "object"
    required:
      - origin
      - destination
      - dates
      - price
    properties:
      origin:
        type: "string"
      destination:
        type: "string"
      dates:
        type: "string"
      price:
        type: "number"
        format: "float64"
  AddTrip:
    type: "object"
    required:
      - originId
      - destinationId
      - dates
      - price
    properties:
      originId:
        type: "number"
        format: "int32"
      destinationId:
        type: "number"
        format: "int32"
      dates:
        type: "string"
      price:
        type: "number"
        format: "float64"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"